<div class="beer-details-wrapper">
    <div class="beer-details">
    <div class="beer-details-first-container">

        <div class="beer-details-image-container">
            <img src="{{beer.ImgPath}}" alt="Beer">
        </div>

        <div class="beer-details-first-container__information">

            <div class="beer-details-buttons">

                {{#if_equal user.role "admin"}}
                <p></p>
                {{/if_equal}}

                {{#if_equal user.role "user"}}
                <a class="buttons-beer-top" href=""><img src="/images/icon-heart-outline.svg"></img> Add to wishlist</a>
                {{/if_equal}}

                <div class="edit-remove beer-details-buttons">
                {{#if_equal user.role "admin"}}
                    <a class="buttons-beer-top" href="/beer/{{beer._id}}/edit-beer"><img src="/images/icon-edit.svg"> Edit</a>
                    <a class="buttons-beer-top" href="/beer/beer-details/{{beer._id}}/delete"><img src="/images/icon-delete.svg"> Remove</a>
                {{/if_equal}}
                </div>  
            </div>

        <div class="beer-infos">

            <h1>{{beer.name}}</h1>
            <h3 style="font-weight: 800;">{{beer.type}} | {{beer.alcoholPercentage}}</h3>
            <br>
            <p>Price:<b> {{beer.price}}</b></p>
            <p>{{beer.description}}</p>

        </div>

        </div>

    </div>



    <div class="beer-details-second-container">

        <div class="beer-details-reviews">
           
            <div class="rating">
                <input type="radio" name="rating" value="5" id="5" /><label
                for="5"
                >☆</label>
                <input type="radio" name="rating" value="4" id="4" /><label
                for="4"
                >☆</label>
                <input type="radio" name="rating" value="3" id="3" /><label
                for="3"
                >☆</label>
                <input type="radio" name="rating" value="2" id="2" /><label
                for="2"
                >☆</label>
                <input type="radio" name="rating" value="1" id="1" /><label
                for="1"
                >☆</label>
            </div>
            <div class="rating-all">
                <a href="">See all reviews</a>
            </div>

            

        </div>


        <div class="beer-details-shopping-cart-control">

            {{#if_equal user.role "user"}}
            
            <div class="buttons-shopping">
                <button id="second-button" class="btn btn-secondary">-</button>
                <input class="amount" type="number" value="0" min="0">
                <button id="first-button" class="btn btn-secondary">+</button>

                <script type="text/javascript">
                    document.querySelector("#second-button").addEventListener("click", () => {
                        let numberBeers = Number(document.querySelector(".amount").value)
                        if(document.querySelector(".amount").value > 0) {
                            document.querySelector(".amount").value = --numberBeers;
                        }
                    })
                    document.querySelector("#first-button").addEventListener("click", () => {
                        let numberBeers = Number(document.querySelector(".amount").value)
                            document.querySelector(".amount").value = ++numberBeers;
                    })
                </script>

                <button  class="btn btn-warning">Add to cart</button>
            </div>

            {{/if_equal}}

        </div>

    </div>
    </div>
</div>