<div class="content-container">
  {{#each beers}}
    <div
      class="beer-container"
      style="width:50%; background:transparent; border:0;"
    >
      <div class="row align-items-start">
        <div class="beer-image-container col-3">
          <a href="/beer/beer-details/{{_id}}">
            <img
              src="{{ImgPath}}"
              class="card-img"
              alt="Generic Description of the beer"
            />
          </a>
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text-two"><small>Type of Beer: {{type}}</small></p>
            <p class="card-text-two"><small>Alcohol By Volume:
                {{alcoholPercentage}}</small></p>
            <p class="card-text-two"><small>Price: €{{price}}</small></p>

            <div class="rating">
              <input type="radio" name="rating" value="5" id="5" /><label
                for="5"
              >☆</label>
              <input type="radio" name="rating" value="4" id="4" /><label
                for="4"
              >☆</label>
              <input type="radio" name="rating" value="3" id="3" /><label
                for="3"
              >☆</label>
              <input type="radio" name="rating" value="2" id="2" /><label
                for="2"
              >☆</label>
              <input type="radio" name="rating" value="1" id="1" /><label
                for="1"
              >☆</label>
            </div>

            <div class="cart-button">
              <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-shopping-cart">Add to cart
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-cart"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                    />
                  </svg></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>