<div>
  <div class="library-search-container">
    <form method="post" action="/beer/beer-library">
      <input
        class="library-search"
        type="submit hidden"
        name="queriedBeer"
        placeholder="Search for beers.."
      />
    </form>
  </div>
  <div class="container-fluid">
    <div class="row d-flex flex-wrap">
      {{#each beers}}
        <div class="col-sm-6">
          <div class="card mb-3 h-100 beer-container">
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href="/beer/beer-details/{{_id}}">
                  <img src={{ImgPath}} class="card-img" alt="..." />
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-text">{{description}}</p>
                  <p class="card-text"><small class="text-muted">Type of beer:
                      {{type}}</small></p>
                  <p class="card-text-two"><small>Alcohol By Volume:{{alcoholPercentage}}</small></p>
                  <p class="card-text-two"><small>Price: €{{price}}</small></p>
                  <div class="rating">
                    <input type="radio" name="rating" value="5" id="5" /><label
                      for="5"
                    >☆</label>
                    <input type="radio" name="rating" value="4" id="4" /><label
                      for="4"
                    >☆</label>
                    <input type="radio" name="rating" value="3" id="3" /><label
                      for="3"
                    >☆</label>
                    <input type="radio" name="rating" value="2" id="2" /><label
                      for="2"
                    >☆</label>
                    <input type="radio" name="rating" value="1" id="1" /><label
                      for="1"
                    >☆</label>
                  </div>
                  <div class="cart-button">
                    {{#if_equal user.role "user"}}
                      <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-shopping-cart">Add to
                          cart
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-cart"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                            />
                          </svg>
                        </span>
                      </button>
                    {{/if_equal}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>