<div class="beer-details-wrapper">
  <div class="beer-details">
    <div class="beer-details-first-container">

      <div class="beer-details-image-container">
        <img src="{{beer.ImgPath}}" alt="Beer">
      </div>

      <div class="beer-details-first-container__information create-bier-info">

        <form action="/beer/{{beer._id}}/edit-beer" method="POST" enctype="multipart/form-data">
          <h1>Edit: {{beer.name}}</h1>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span for="name" class="input-group-text" id="name">Name:</span>
            </div>
            <input
              type="text"
              name="name"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="name"
              value="{{beer.name}}"
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="beer-type">Beer type:</label>
            </div>

            <select
              class="custom-select"
              id="beer-type"
              name="beer-type"
              required
            >
              <option selected>Choose beer type...</option>
              {{#each beerTypes}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span
                for="description"
                class="input-group-text"
              >Description:</span>
            </div>
            <textarea
              type="text"
              name="description"
              class="form-control"
              aria-label="With textarea"
            >{{beer.description}}</textarea>
          </div>

          <br />

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span for="price" class="input-group-text" id="name">Price €:</span>
            </div>
            <input
              data-type="currency"
              name="price"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="name"
              value="{{beer.price}}"
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span
                for="alcoholPercentage"
                class="input-group-text"
                id="name"
              >Alcohol percentage:</span>
            </div>
            <input
              type="string"
              name="alcoholPercentage"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="name"
              value="{{beer.alcoholPercentage}}"
            />
          </div>

          <input type="file" id="ImgPath" name="ImgPath">

          <button class="btn btn-warning" type="submit">Save beer</button>
        </form>
      </div>

      {{!-- <a href="/celebrities/{{celebrity._id}}/delete">Delete this movie </a> --}}

    </div>
  </div>
</div>